@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lobster', cursive;
}


section{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	background: url(../img/bg.jpg),url(../img/mask.jpg);
	background-blend-mode: screen;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 7px 12%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.header_style{
	background-color: rgba(255, 255, 255, 0.5);

}

header .logo{
	position: relative;
	color: #144d0e;
	text-decoration: none;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 2px;
}

header .toggle{
	position: relative;
	width: 40px;
	height: 40px;
	background: url(../img/menu.png);
	background-size: 30px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

header .toggle.active{
	background: url(../img/close.png);
	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.container{
    padding: 0 15px;
    max-width: 1230px;
}

.play{
	position: absolute;
	bottom: 40px;
	left: 12%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.play img{
	max-width: 40px;
}

.play span{
	margin-left: 10px;
	font-weight: 600;
	color: #144d0e;
	letter-spacing: 1px;
}

.sci{
	position: absolute;
	bottom: 49px;
	right:12%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sci li {
	list-style: none;
}

.sci li a{
	display: inline-block;
	text-decoration: none;
	transform: scale(0.6);
}

.header_content{
	padding:12%;
}

.header_content h2{
	font-size: 6.5rem;
	line-height: 1em;
	color: #ffb600;
	font-family: 'Pacifico', cursive;
	text-shadow: 0 5px 15px rgba(0, 0, 0, 1.0);
}

.nav_menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden ;
	transition: 0.4s;
}

.nav_menu.active{
	opacity: 1;
	visibility: visible;
	z-index: 100;
}

.nav_menu ul{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.nav_menu ul li{
	list-style: none;
}

.nav_menu ul li a{
	font-family: 'Lobster', cursive;
	display: inline-block;
	color: #28ac00;
	font-size: 2em;
	text-decoration: none;
	font-weight: 300;
	transition: all .5s;
}

.nav_menu ul li a:hover{
	color: #144d0e;
	transform: scale(1.2);
}


.med_video{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10000;
	background: rgba(255, 255, 255, 0.95);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transform: 0.2s;
}

.med_video.active{
	opacity: 1;
	visibility: visible;
}


.med_video video{
	max-height: 900px;
	outline: none;
}
.close{
	position: absolute;
	top: 50px;
	right: 50px;
	cursor: pointer;
	max-width: 25px;
}


/* ===== ABOUT =====*/
.about__container{
  row-gap: 2rem;
  text-align: center;
  width: 100%;
  padding: 40px 12%;
}
.about__subtitle{
  margin-bottom: 1rem;
}
.about__img{
  justify-self: center;
}
.about__img img{
  width: 700px;
  border-radius: .5rem;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: 2rem;
  color: #28ac00;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
  padding: 0px 12%;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 140px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 3.1rem;
  background-color: #28ac00;
}


.bd-grid{
  display: grid;
  grid-column-gap: 2rem;
  width: 100%;
  padding: 40px 12%;
}


/*ogol_box*/

.ogol_box{
	display: flex;
  justify-content: center;
  align-items:center;
  min-height: 100vh;
  background: #fff;
}

.maps_box{
	min-height: 90vh;
}

.cointainer_ogol{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1300px;
	flex-wrap: wrap;
	padding: 0px 0;
}

.cointainer_ogol .card{
	position: relative;
	width: 320px;
	height: 440px;
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
							inset -5px -5px 5px rgba(255, 255, 255,0.5),
							5px 5px 5px rgba(0, 0, 0,0.05),
							-5px -5px 5px rgba(255, 255, 255,0.5);
  border-radius: 15px;
  margin: 30px;
}

.cointainer_ogol .card .box{
	position: absolute;
	left: 20px;
	top: 20px;
	right: 20px;
	bottom: 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
.box_nezl{
	background: url(../img/nezl.jpg);
	background-size: cover;
}

.box_osen{
	background: url(../img/osen.jpg);
	background-size: cover;
}

.box_now{
	background: url(../img/now.jpg);
	background-size: cover;

}

.cointainer_ogol .card:hover .box{
	transform: translateY(-50px);
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
	background: linear-gradient(45deg, #28ac00, #144d0e);
}

.cointainer_ogol .card .box .content{
	padding: 20px ;
	text-align: center;
}

.cointainer_ogol .card .box .content h2{
	position: absolute;
	top: -10px;
	right:30px;
	font-size: 8em;
	color: rgba(0, 0, 0, 0.02);
	transition: 0.5s;
	pointer-events: none;
}
.cointainer_ogol .card:hover .box .content h2{
	color: rgba(0, 0, 0, 0.07);
}

.cointainer_ogol .card .box .content h3{
	font-size: 1.8em;
	color: #ffd000;
	z-index: 1;
	transition: 0.5s;
	text-shadow: 0 5px 15px rgb(0 0 0);
}

.cointainer_ogol .card .box .content p{
	font-size: 1em;
	font-weight: 300;
	color: #ffd000;
	transition: 0.5s;
	text-shadow: 0 5px 15px rgb(0 0 0);
}

.cointainer_ogol .card:hover .box .content h3,
.cointainer_ogol .card:hover .box .content p{
	color: #fff;
}

.cointainer_ogol .card .box .content a{
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	background: #28ac00;
	margin-top: 15px;
	border-radius: 20px;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

.cointainer_ogol .card:hover .box .content a{
	background: #ffb600;
}


.fotorama{
	width: 1100px;
}

/* ===== FOOTER =====*/
.footer{
  background-color: #144d0e;
  color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 2rem 0;
}
.footer__title{
  font-size: 2rem;
  margin-bottom: 2rem;
}
.footer__social{
  margin-bottom:2rem;
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 1rem;
}



.quote_cointainer{
	height: 25vh;
	max-width: 100%;
  padding: 0 12%;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
}

.quote_people{
	  position: relative;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}




@media screen and (max-width: 1100px){
	.about__img img {
    width: 500px;
	}

	.karta_mob{
		width: 950px;
	}
}



@media screen and (max-width: 1000px){
	.about__img img {
    width: 500px;
	}

	.karta_mob{
		width: 900px;
	}
}

@media screen and (max-width: 900px){
	.med_video video{
		max-width: 90%;
	}

	.header_content h2 {
    	font-size: 5.5rem;
	}

	.about__img img {
    	width: 400px;
	}

	.karta_mob{
		width: 700px;
	}

	.fotorama{
		width: 780px;
	}

}

@media screen and (max-width: 550px){
	.header_content h2 {
    	font-size: 4.5rem;
	}

	.karta_mob{
		width: 300px;
	}

	.about__img img {
    	width: 280px;
	}

	.section-title{
		font-size: 1.7rem;
	}

	.fotorama{
		width: 360px;
	}

	.gall_vh{
		min-height: 40vh;	
	}

}
@media screen and (max-width: 320px){
	.header_content h2 {
    	font-size: 3.5rem;   /* iphone 5*/
	}
	.about__text{
		padding-right: 13%;
	}

	.karta_mob{
		width: 250px;
	}

	.fotorama{
		width: 200px;
	}



}

@media screen and (min-width: 700px){
	.about__container, .skills__container{
	    grid-template-columns: repeat(2,1fr);
	    align-items: center;
	    text-align: initial;
  	}


}